/BloodDonation/BloodDonation.Tests/obj/Debug
/BloodDonation/BloodDonation/bin
/BloodDonation/.vs/BloodDonation/v15/Server/sqlite3/db.lock
/BloodDonation/.vs/BloodDonation/v15/Server/sqlite3/storage.ide
/BloodDonation/.vs/BloodDonation/v15/Server/sqlite3/storage.ide-shm
/BloodDonation/.vs/BloodDonation/v15/Server/sqlite3/storage.ide-wal
