@using Microsoft.AspNet.Identity

<style>
    .btn-custome {
        background: darkred;
        color: whitesmoke;
        font-size: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>

@if (Request.IsAuthenticated)
{
    <button type="button" class="btn btn-custome btn-lg" data-toggle="modal" data-target="#donationModal">
        Donează
    </button>

}
else
{
    <button type="button" class="btn btn-custome  btn-lg" data-toggle="modal" data-target="#logInModal">
        Donează
    </button>
    
}
