@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" type="text/css" href="/Content/Index.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet">
</head>

    <div class="photo">
        
    </div>

    <div class="afterPhotoContainer">


        <div class="buton" style="text-align:center;">
            @Html.Partial("Partial/ButonDoneaza")
        </div>


        <div class="infoText">
            Donarea periodică este indispensabilă pentru sistemul transfuzional şi pentru bolnavii ce au nevoie de produse sanguine sigure, suficiente şi la timp, provenite de la donatori responsabili. Astfel, anumite categorii de bolnavi pot primi produse sanguine doar de la persoane care donează de două – trei ori pe an<br />
            <br />
            România se află în continuare pe ultimele locuri în Europa la capitolul donării de sânge - doar 1,7% din populaţia adultă donează sânge.
            <br />
            Cu toate astea, în situaţii limită românii au demonstrat solidaritate şi simt civic, stând ore în şir la coadă pentru a dona sânge. Chiar dacă pe moment aceste situaţii sunt rezolvate, nevoia de sânge este însă una constantă. Realizarea de stocuri prea mari de sânge, de la persoane care donează pentru prima dată, nu este utilă. Preparatele sanguine au un termen de valabilitate scurt. Trombocitele pot fi utilizate în termen de 5 zile, globulele roşii în 42 de zile iar plasma poate fi congelată şi utilizată în termen de 12 luni.


        </div>




    </div>

    <div class="separator">

    </div>

    <div class="footer">

        All right reserved.<br />
        Apasand buton Doneaza, accept regulamentul si conditiile siteului.

    </div>

